<div class="container">
  <div class="row">
    @for (article of articles; track articles) {
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <img src="images/{{ article.id }}.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ article.nombre }}</h5>
            <p class="card-text">{{ article.categoria }}</p>
          </div>
          <button class="btn btn-primary">Comprar</button>
        </div>
      </div>
    }
  </div>
</div>



<br>
<br>    

<div id="now row-cols-1 row-cols-md-6 g-4" >
    
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img src="images/{{articles[3].id}}.jpg" class="card-img-top">
        <h5 class="card-title">{{articles[3].nombre}}</h5>
        <p class="card-text">{{articles[3].descripcion}}</p>
        <b>
            <p class="card-text text-center">{{articles[3].precio}}</p>
        </b>
    </div>
    <button class="btn btn-primary" [disabled]="articles[3].unidades == 0?true:false">Comprar</button>
</div>

