<!-- <app-trabajadores [trabajadores]="listaTrabajadores"></app-trabajadores>

<app-observables class="btn btn-primary" (click)="'emitir'">Caracol</app-observables>
<app-observables class="btn btn-secondary" (click)="'cancelar'">cancelar</app-observables>
<app-observables class="btn btn-success" (click)="'suscribirDeprecated'">SuscribirDeprecated</app-observables>
<app-observables class="btn btn-danger" (click)="'suscribir'">Suscribir</app-observables> -->


<app-contador1></app-contador1>


<app-contador2></app-contador2>


<router-outlet />

