<div class="container">
    <h2>Articulos</h2>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <p>Todos nuestros articulos</p>
        <button class="btn btn-success">Nuevo</button>
    </div>
    <table class="table table-stripped ms-4 me-6">
        <thead>
            <tr style="">
                <th>id</th>
                <th>nombre</th>
                <th>categoria</th>
            </tr>
        </thead>
        <tbody>
            @for (article of articles; track articles) {
                <tr style="">
                    <td>{{ article.id }}</td>
                    <td>{{ article.nombre }}</td>
                    <td>{{ article.categoria }}</td>
                    <div style="display: flex; gap: 10px;">
                        <a class="btn btn-success active" style="" routerLink="/articulo/{{article.id}}">Ver</a>
                        <button (click)="delete(article.id)" class="btn btn-danger active" style="">Borrar</button>
                        <button class="btn btn-primary active" style="">Modificar</button>
                    </div>
               </tr>
            }
        </tbody>
    </table>
<!-- Borrar section -->
    <section style="display: flex; flex-direction: column; box-shadow: 1px 5px 10px 6px gray; justify-content: center; align-items: center; width: 200px; height: 200px; border-radius: 20px; z-index: -1; position: sticky; bottom: 300px;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <img style="width: 100px;" src="images/delete.png" alt="">
            <div>
                <button class="btn btn-danger">Borrar</button>
                <button class="btn btn" style="border: none;">Volver</button>
            </div>

        </div>
    </section>
</div>