<div class="container">
    <h2>Articulos</h2>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <p>Todos nuestros articulos</p>
        <button class="btn btn-success">Nuevo</button>
    </div>
    <table class="table table-stripped ms-4 me-6">
        <thead>
            <tr style="">
                <th>id</th>
                <th>nombre</th>
                <th>categoria</th>
            </tr>
        </thead>
        <tbody>
            @for (article of articles; track articles) {
                <tr style="">
                    <td>{{ article.id }}</td>
                    <td>{{ article.nombre }}</td>
                    <td>{{ article.categoria }}</td>
                    <div style="display: flex; gap: 10px;">
                        <a class="btn btn-success active" style="" routerLink="/articulo/{{article.id}}">Ver</a>
                        <button (click)="delete(article.id)" class="btn btn-danger active" style="">Borrar</button>
                        <button class="btn btn-primary active" style="">Modificar</button>
                    </div>
               </tr>
            }
        </tbody>
    </table>
</div>